## SBT specific
target/
# lib_managed/
# src_managed/
# project/boot/
# .cache
# .history

## IntelliJ IDEA specific
.idea/
# *.iml
# *.sc

## Scala-IDE specific
# .scala_dependencies
# .worksheet

## GPG
.pubring.gpg
.secring.gpg
